.goBackButton {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.captureButton {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-transform: capitalize;
}

.ability {
 display: flex;
 gap: 15px;
 text-align: center;
 margin-bottom: 20px;
}

span {
  height: 25px;
  width: 100px;
  text-align: center;
  border-radius: 5px;;
}

.container img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.pokeBallContainer {
  position: absolute;
  bottom: 0;
  cursor: grab;
}

.myPokemon {
  color: rgb(139, 125, 45);
  font-size: 1.5rem;
  padding: 5px 30px 15px 30px;
  background-color: rgb(22, 19, 19);
  border-radius: 15px;
}

.myPokemon:hover {
  color: rgb(206, 203, 192);
}

.normal {
  background-color: rgb(156, 136, 136);
}

.fighting {
  background-color: rgb(124, 65, 65);
}

.flying {
  background-color: rgb(70, 70, 177);
}

.poison {
  background-color: rgb(104, 33, 104);
}

.ground {
  background-color: rgb(128, 114, 95);
}

.rock {
  background-color: rgb(110, 82, 42);
}

.bug {
  background-color: rgb(115, 148, 63);
}

.ghost {
  background-color: rgb(75, 22, 75);
}

.steel {
  background-color: rgb(102, 100, 100);
}

.fire {
  background-color: rgb(133, 40, 40);
}

.water {
  background-color: rgb(21, 21, 133);
}

.grass {
  background-color: rgb(17, 100, 17);
}

.electric {
  background-color: rgb(153, 153, 29);
}

.psychic {
  background-color: rgb(156, 69, 156);
}

.ice {
  background-color: rgb(43, 120, 139);
}

.dragon {
  background-color: rgb(66, 33, 66);
}

.dark {
  background-color: rgb(44, 12, 44);
}

.fairy {
  background-color: rgb(180, 34, 180);
}

.unknown {
  background-color: rgb(70, 62, 27);
}

.shadow {
  background-color: rgb(15, 14, 15);
}

@media screen and (min-width: 400px) {
  .container img {
    height: 40%;
    width: 40%;
  }

}
